body{
    background:url('images/texture.png') repeat;
}

.body-wrapper{
    background-color: #e7e7e7;
    color: #000
}

.default-button{
    display: inline-block;
    min-width: 100px;
    height: 40px;
    border: none;
    text-align: center;
    padding-top: 10px;
    margin-right: 15px;
    background-color: #12c2c0;
    color: #FFF;
}

.default-button:hover{
    text-decoration: none;
    color: #FFF;
    background-color: #038888;
}

#top-strip{
    height: 6px;
    background-color: #12c2c0;
    margin: 0;
    padding: 0;
}

#top-bar{
    height: 95px;
    padding: 15px;
}


#logo{
    float: left;
    display: inline-block;
}

#user-actions {
    float: right;
    display: inline-block;
}

/* Login Container */
#login-container{
    width: 575px;
    margin: 0 auto;
    height: 450px;
    background-color: #FFF;
    color: #252525;
}

#logo-holder{
    width: 575px;
    margin: 0 auto;
    margin-top: 45px;
}

#login-form-holder{
    padding:20px;
}

#logged-in-user{
    color: #FFF;
    font-family: "Helvetica Neue Light", sans-serif;
    letter-spacing: -1px;
    display: inline-block;
    margin-right: 25px;
}

h2{
    color: #eee;
}

.checkbox{
    color: #eee;
}

#app_container{
    width: 960;
    margin: 0 auto;
    margin-bottom: 5%;

}

.app_wrapper{
    width:200px;
    display: inline-block;
    margin-left: 12%;
    margin-top: 5%;
}

.app_wrapper span{
    font-size: 24px;
    color: #afafaf;
    font-weight: 200;
}

.app_box{
    width: 200px;
    height: 200px;
    background: #12c2c0 url('images/apps_sprite.png') no-repeat;
    -webkit-transition: linear .1s;
    -moz-transition: linear .1s;
    -o-transition: linear .1s;
    transition: linear .1s;
}

.app_box:hover{
    text-decoration: none;
    color: #afafaf;
    background-color: #038888;
}

.app_venues{
    background-position: 0px 0px;
}

.app_track{
    background-position: 0px -200px;
}

.app_sessions{
    background-position: -200px -200px;
}

.app_keypad{
    background-position: -200px 0px;
}

.app_people{
    background-position: -400px 0px;
}
.app_add{
    background-position: -400px -200px;
}
