body{
    background:url('images/texture.png') repeat;
}

.body-wrapper{
    background-color: #e7e7e7;
    color: #000
}

.default-button{
    display: inline-block;
    min-width: 100px;
    height: 40px;
    border: none;
    text-align: center;
    padding-top: 10px;
    margin-right: 15px;
    background-color: #12c2c0;
    color: #FFF;
}

.default-button:hover{
    text-decoration: none;
    color: #FFF;
    background-color: #038888;
}

#top-strip{
    height: 6px;
    background-color: #12c2c0;
    margin: 0;
    padding: 0;
}

#top-bar{
    height: 95px;
    padding: 15px;
    min-width: 800px;
}

#main-admin-table{
}


#logo{
    float: left;
    display: inline-block;
}

#user-actions {
    float: right;
    display: inline-block;
}

/* Login Container */
#login-container{
    width: 575px;
    margin: 0 auto;
    height: 450px;
    background-color: #FFF;
    color: #252525;
}

#logo-holder{
    width: 575px;
    margin: 0 auto;
    margin-top: 45px;
}

#login-form-holder{
    padding:20px;
}

#logged-in-user{
    color: #FFF;
    font-family: "Helvetica Neue Light", sans-serif;
    letter-spacing: -1px;
    display: inline-block;
    margin-right: 25px;
}

h2{
    color: #eee;
}

.checkbox{
    color: #eee;
}

#app_container{
    width: 960;
    margin: 0 auto;
    margin-bottom: 5%;

}

.app_wrapper{
    width:200px;
    display: inline-block;
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 5%;
}

.app_wrapper span{
    font-size: 24px;
    color: #afafaf;
    font-weight: 200;
}

.app_box{
    width: 200px;
    height: 200px;
    background: #12c2c0 url('images/apps_sprite.png') no-repeat;
    -webkit-transition: linear .1s;
    -moz-transition: linear .1s;
    -o-transition: linear .1s;
    transition: linear .1s;
}

.app_box:hover{
    text-decoration: none;
    color: #afafaf;
    background-color: #038888;
}

.app_venues{
    background-position: 0px 0px;
}

.app_track{
    background-position: 0px -200px;
}

.app_sessions{
    background-position: -200px -200px;
}

.app_keypad{
    background-position: -200px 0px;
}

.app_people{
    background-position: -400px 0px;
}
.app_add{
    background-position: -400px -200px;
}
.table_wrapper{
    display: inline-table;
    background-color: #50585C;
}

.table_wrapper .add{
    background-color: #12c2c0;
    width: 100px;
    float: right;
    margin-top: 21px;
    margin-right: 30px;
}

.trax_table{
    width: 98.7%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
}

.trax_table thead{
}

.trax_table thead tr{
    background-color: lightgrey;
}

.trax_table tbody{
}

.trax_table a{
    color: white;
}

.trax_table tbody a{
    dispaly: inline-block;
}

.trax_table tbody a:hover{
    text-decoration: none;
}

.trax_table tbody tr:nth-child(even){
    background-color: white;
}

.trax_table tbody tr:nth-child(odd){
    background-color: #FAFAFA;
}

.button{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: auto;
    color: white;
}

.trax_table .edit{
    background-color: #12c2c0;
}

.trax_table .delete{
    background-color: #FF6969;
}

.table_title_h1{
    display: inline-block;
    padding-left: 20px;
    font-weight: 200;
    color: white;
}

.table-add-new{
}

.table-search{
    float: right;
    display: inline-block;
    margin-top: 19px;
    margin-right: 40px;
    height: 38px;
    width: 20%;
    font-weight: 200;
}

.modal {
}

.modal a{
    color: white;
}

.modal .submit{
    background-color: #6ab880;
}

.modal .add{
    background-color: #6ab880;
}

.modal .save{
    background-color: #6ab880;
    width: 60px;
    height: 34px;
    border: 1px solid darkgrey;
    margin-top: -1px;
}

.modal .edit{
    background-color: #12c2c0;
}

.modal .delete{
    background-color: #FF6969;
}

.sessions_left{
    display: inline-block;
    float: left;
    width: 23%;
    height: 80%;
    background-color: #dbdbdb;
    border-right: 1px solid grey;
    min-width: 270px;
}

.users_right{
    display: inline-block;
    width: 25%;
    height: 80%;
    border-left: 1px solid grey;
    min-width: 295px;
}

.session_page_header{
    height: 70px;
    background-color: #8f8f8f;
    font-family: "Helvetica";
    font-size: 49px;
    font-weight: 100;
    color: white;

}

.sessions_column_header{
    height: 20px;
    background-color: #707070;
    color: white;
    padding-left: 10px;
    font-weight: 100;
}

.new_session{
    height: 50px;
    background-color: #7ed797;
    color: white;
    font-family: "Helvetica";
    font-size: 31px;
    font-weight: 100;
    -webkit-transition: background-color 100ms ease-out;
    -moz-transition: background-color 100ms ease-out;
    -o-transition: background-color 100ms ease-out;
    transition: background-color 100ms ease-out;
}

.new_session:hover{
    cursor: pointer;
    background-color: #6ab880;
}

.new_session span{
    vertical-align: text-bottom;
}

.single_session_container{
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.single_session_container:hover{
    background-color: #C0C0C0;
}

.active_session{
    background-color: #a7d7d6;
}

.single_session_container h2{
    margin: 0;
    font-size: 32px;
    font-weight: 300;
    color: darkslategray;
}

.single_session_container h3{
    margin: 0;
    font-size: 16px;
    font-weight: 200;
    color: darkgrey;
}

.icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('images/icons.png');
    background-repeat: no-repeat;
}

.icon_calendar_plus{
    background-position: 0px 0px;
    margin-top: 5px;
}

.new_attendee {
    height: 50px;
    background-color: #7ed797;
    color: white;
    font-family: "Helvetica";
    font-size: 31px;
    font-weight: 100;
    text-align: center;
    -webkit-transition: background-color 200ms ease-out;
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
}

.attendee_page_header{
    height: 70px;
    background-color: #8f8f8f;
    font-family: "Helvetica";
    font-size: 49px;
    font-weight: 100;
    color: white;

}

.attendees_column_header{
    height: 20px;
    background-color: #707070;
    color: white;
    padding-left: 10px;
    font-weight: 100;
}

.new_attendee:hover{
    cursor: pointer;
    background-color: #6ab880;
}

.new_attendee span{
    vertical-align: text-bottom;
}

.single_attendee_container{
    padding: 10px;
    border-bottom: 1px solid grey;
}

.active_attendee{
    background-color: #a7d7d6;
    color: white;
}

.single_attendee_container h2{
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: darkslategray;
}

.single_attendee_container h3{
    margin: 0;
    font-size: 16px;
    font-weight: 200;
    color: darkgrey;
}

.icon_person_plus{
    background-position: -80px 0px;
    margin-top: 5px;
}

.icon_person_check{
    background-position: -160px 0px;
    margin-left: 10px;
    margin-top: 5px;
}

.icon_person_x{
    background-position: -120px 0px;
    margin-left: 10px;
    margin-top: 5px;
}

.single_attendee_container .on_time{
    color: #00CC00;
}

.single_attendee_container .late{
    color: orange;
}

.single_attendee_container .absent{
    color: red;
}

.attendee_text_container{
    display: inline-block;
    margin-left: 25px;
}

.new_attendee_contents{
    text-align: left;
    margin-left: 20px;
}

.new_session_contents{
    text-align: left;
    margin-left: 20px;
}

.session_info_container{
    min-width: 594px;
    float: left;
    height: 200px;
    vertical-align: top;
    display: inline-block;
    width: 52%;
    padding: .5%;
}

.session_info_header{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}
.session_info_header .name_and_time_container{
}
.session_info_header .name{
    display: inline-block;
    font-size: 64px;
    font-weight: 200;
    color: grey;
}

.session_info_header .time{
    display: inline-block;
    font-size: 32px;
    font-weight: 200;
    color: lightgrey;
    float: right;
    padding-top: 10px;
}

.session_info_header .description{
    font-size: 19px;
    vertical-align: top;
    font-weight: 200;
    color: grey;
    display: inline-block;
    width: 667px;
    padding-top: 3%;
}

.session_info_mainarea{
    height: 350px;
}

.session_info_comments{
    border-top: 1px solid lightgrey;
    height: 300px;
    overflow-y: auto;
}

.comment_container{

}

.comment_contents{
}

.comment_picture{
    width: 40px;
    height: 40px;
    background: no-repeat -200px 0px url('images/icons.png');
    display: inline-block;
}

.comment_text{
    display: inline-block;
    margin-left: 20px;
}

.comment_user{
    font-size: 32px;
    color: darkgrey;
    font-weight: 200;
}

.comment_comment{
    color: grey;
}

.trax-modal-content{

}

.trax-modal-header{
    background-color: #e6e6e6;
    color: grey !important;
}

.trax-modal-content{
    background-color: #f9f9f9;
}

.trax-modal-body{
    overflow-y: auto;
    height: 55%;
}

.trax-modal-footer{

}

.modalFieldName{
    font-size: 14px;
    font-weight: 400;
    width: 110px;
    text-align: right;
    margin-right: 10px;
    border-radius: 3px;
    color: grey;
}

.modalInput{
    background-color: white;
    border: 1px solid #BBBBBB;
    box-shadow: inset 2px 2px 10px -4px #AAAAAA;
    border-radius: 3px;
    margin-bottom: 20px;
}

.modalFormContainer{
    margin-left: 90px;
}

.rolesContainer{
    display: inline-block;
    background-color: white;
    border: 1px solid #BBBBBB;
    box-shadow: inset 2px 2px 10px -4px #AAAAAA;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 150px;
}

.rolesContainer ul{

}

.rolescontainer ul li{
    cursor: pointer;
    height: 30px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 200;
    padding-left: 20px;
    padding-top: 3px;
    background-color: white;
}

.rolescontainer ul li:last-child{
    border-bottom: none !important;
}

.rolescontainer ul li:first-child{
    border-top: none !important;
}

.rolescontainer ul li input[enabled]{

}

.rolescontainer ul li input[disabled]{

}

.checkbox_checked{
    background: #12c2c0 !important;
    border-bottom: 1px solid lightgrey;
    color: white;
}

input[type="checkbox"]
{
    display:none;
}

