<% for(var i = 0; i < object.sessions.length; ++i){ %>
    <div class="single_session_container">
           <h2><%=object.sessions[i].name%></h2>
           <h3><%=object.sessions[i].startTime%> - <%=object.sessions[i].endTime%> /h3>
    </div>
<% } %>