<div class="session_info_header">
        <div class="name_and_time_container">
            <div class="name edit">Untitled</div>
            <div class="time edit endTime">End Time</div><div class="time edit startTime">Start Time - </div>
        </div>
</div>

 <div class="session_info_mainarea">
        <div class="description edit">Description Goes Here</div>
    </div>

    <div class="session_info_comments">

    </div>