<div class="session_info_header">
        <div class="name_and_time_container">
            <div class="name"><%= name %></div>
            <div class="time"><%= new XDate(startTime).toString("h:mmTT") %> - <%= new XDate(endTime).toString("h:mmTT") %></div>
        </div>
</div>

 <div class="session_info_mainarea">
        <div class="description"><%= description %></div>
    </div>

    <div class="session_info_comments">
        <div class="comment_container">
            <div class="comment_contents">
                <div class="comment_picture"></div>
                <div class="comment_text">
                    <div class="comment_user">Tony Winters</div>
                    <div class="comment_comment">I really like this session.</div>
                </div>
            </div>
        </div>
        <div class="comment_container">
            <div class="comment_contents">
                <div class="comment_picture"></div>
                <div class="comment_text">
                    <div class="comment_user">Matt Garkusha</div>
                    <div class="comment_comment">Yea its pretty sweet. I especially like the sessiony part.</div>
                </div>
            </div>
        </div>
        <div class="comment_container">
            <div class="comment_contents">
                <div class="comment_picture"></div>
                <div class="comment_text">
                    <div class="comment_user">Holden Cribb</div>
                    <div class="comment_comment">I like soccer. It is soooooo cool. </div>
                </div>
            </div>
        </div>
        <div class="comment_container">
            <div class="comment_contents">
                <div class="comment_picture"></div>
                <div class="comment_text">
                    <div class="comment_user">Teduardo</div>
                    <div class="comment_comment">Ruff ruff, bark bark! I like food. ok bye.</div>
                </div>
            </div>
        </div>
        <div class="comment_container">
            <div class="comment_contents">
                <div class="comment_picture"></div>
                <div class="comment_text">
                    <div class="comment_user">Billy Cringolaction</div>
                    <div class="comment_comment">That is so crazy; I too love to work out!</div>
                </div>
            </div>
        </div>
    </div>