<div class="session_info_header">
        <div class="name_and_time_container">
            <div class="name edit">Untitled</div>
            <div class="time">TIME HERE - TIME HERE</div>
        </div>
</div>

 <div class="session_info_mainarea">
        <div class="description">Description Goes Here</div>
    </div>

    <div class="session_info_comments">

    </div>