<form id="editRoom" action="#" method="post">
    <input type="text" class="hidden" name="id" value="<%= id %>" />
    <ul>
        <li><label>Name</label> <input type="text" name="name" value="<%= name %>" /></li>
        <li><label>Description</label> <input type="textarea" name="description" value="<%= description %>" /></li>
    </ul>
</form>
<a href="#"><div class="room save button">Save</div></a>
<a href="#"><div class="room delete button">Delete</div></a>